<div class="container">
    <div *ngIf="todo">
        <div class="modal-header">
            <h2 class="modal-title">{{todo.title}}</h2>
            <jhi-alert-error></jhi-alert-error>
        </div>
        <div class="modal-body">
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{todo.title}}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{todo.category}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{todo.description}}</span>
                </dd>
                <dt><span>Due Date</span></dt>
                <dd>
                    <span>{{todo.dueDate | date: 'mediumDate'}}</span>
                </dd>
                <dt><span>Completed??</span></dt>
                <dd>
                    <div *ngIf="todo.isCompleted; else notCompleted">
                        <span style="color: green;">yes!</span>
                    </div>
                    <ng-template #notCompleted>
                        <span style="color: red;">nope!</span>
                    </ng-template>
                </dd>
            </dl>
        </div>

        <div class="modal-footer">
        </div>
    </div>
</div>
