<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="todo">
            <h2><span>Todo</span> {{todo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{todo.title}}</span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{todo.category}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{todo.description}}</span>
                </dd>
                <dt><span>Due Date</span></dt>
                <dd>
                    <span>{{todo.dueDate | date: 'mediumDate'}}</span>
                </dd>
                <dt><span>Completed??</span></dt>
                <dd>
                    <div *ngIf="todo.isCompleted; else notCompleted">
                        <span style="color: green;">yes!</span>
                    </div>
                    <ng-template #notCompleted>
                        <span style="color: red;">nope!</span>
                    </ng-template>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/todo', todo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
